.shop-container {
  max-width: 1190px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 10px;
}

.shop-title {
    font-size: 22px;
    font-weight: 500;
    color: #424242;
}

.products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px 10px;
    margin-top: 10px;
}