/* common styles */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.highlight-color {
  color: #f85606;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}